Source: xlines
Section: python
Priority: extra
Maintainer: Blake Huber <blakeca00@gmail.com>
Build-Depends: debhelper (>= 9), python3, dh-virtualenv (>= 0.7)
Standards-Version: 3.9.5

Package: xlines
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), python3.6-minimal | python3.7-minimal, ${misc:Pre-Depends}
Depends: ${python3:Depends}, ${misc:Depends}
Description: Count the number of lines of code in a project
 Count the number of lines of code in a project
