#!/usr/bin/make -f

#export DH_VERBOSE=1
export PYBUILD_NAME=xlines
export PYBUILD_DESTDIR=.

# preinstall script
#export PYBUILD_INSTALL_ARGS_python3=--install-scripts=/usr/share/foo/


%:
	dh $@ --with python2,python3 --buildsystem=pybuild
